<% layout('layout/boilerplate') %>

    <% if(currentUser.id !==loan.owner.id){ %>
        <style>
            .card {
                padding: 2%;
                margin-left: auto;
                margin-right: auto;
                margin-top: 3%;
                margin-bottom: 3%;
                /* border:dashed purple; */
                border: 0.5px solid rgb(232, 228, 228);
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                width: 40%;
                font-size: 20px;
            }

            .card:hover {
                padding: 2%;
                margin-left: auto;
                margin-right: auto;
                margin-top: 3%;
                margin-bottom: 3%;
                background-image: linear-gradient(to right, #EE6D98, #8A5EBF);
                border: none;

            }

            .card:hover span {
                color: white;
            }

            span {
                margin: 2%;
                color: purple;
                font-family: 'Poppins', sans-serif;
            }

            i {
                margin-right: 20px;
            }


            .btn {
                margin-left: 10px;
                margin-right: 10px;
                margin-top: 0%;
                width: 30%;
            }

            .btns {
                display: flex;
                justify-content: space-around;
            }


            input,
            textarea {
                padding: 10px;
                border: none;
                border-radius: 10px;
                margin: 10px;
                font-size: 16px;
                font-weight: 500;
                line-height: 24px;
                font-family: 'Poppins', sans-serif;
                width: 70%;
                background-color: rgba(129, 125, 125, 0.137);
            }


            @media only screen and (max-width:768px) {
                .card {
                    width: 80%;
                    font-size: 16px;
                }

                .btn {
                    width: 40%;
                }
            }
        </style>

<h1>Details</h1>

        <div class="cont">
            <div class="card">
                <span><i class="fa-solid fa-coins"></i>
                    <%= loan.amount %>
                </span>
                <span><i class="fa-solid fa-percent"></i>
                    <%= loan.interest %>%
                </span>
                <span><i class="fa-solid fa-calendar"></i>
                    <%= loan.timePeriod %>
                </span>
                <span><i class="fa-solid fa-user"></i>
                    <%= loan.owner.name %>
                </span>
                <span><i class="fa-solid fa-envelope"></i>
                    <%= loan.owner.email %>
                </span>
                <span><i class="fa-solid fa-hand-holding-hand"></i>
                    <%= loan. category %>
                </span>

            </div>

        </div>

        <!-- Button trigger modal -->
        <div class="btns">
            <button type="submit" id="btn" class="btn "
                style="background-image: linear-gradient(to right,#EE6D98,#8A5EBF);color: white;" data-bs-toggle="modal"
                data-bs-target="#staticBackdrop">
                Modify Request
            </button>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel"
                            style="font-family: 'Comic Sans MS', 'Comic Sans', cursive; color: purple;">Submit
                            Request</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form action="/loan/<%= loan.id %>/counter" method="post">
                            <span><i class="fa-solid fa-percent"></i><input type="number" placeholder="Interest"
                                    name="interest" id="interest" step=".01"></span>
                            <br>
                            <span><i class="fa-solid fa-calendar"></i><input type="number" placeholder="Time Period"
                                    name="timePeriod" id="timePeriod" step=".1"></span>
                            <div class="modal-footer">
                                <button type="submit" class="btn"
                                    style="background-image: linear-gradient(to right,#EE6D98,#8A5EBF);color: white;"
                                    data-bs-dismiss="modal">Submit</button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>

        <% }else{ %>

            <style>
                .card {
                    padding: 2%;
                    margin-left: auto;
                    margin-right: auto;
                    margin-top: 3%;
                    margin-bottom: 3%;
                    /* border:dashed purple; */
                    border: 0.5px solid rgb(232, 228, 228);
                    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                    width: 40%;
                    font-size: 20px;
                }

                .card:hover {
                    padding: 2%;
                    margin-left: auto;
                    margin-right: auto;
                    margin-top: 3%;
                    margin-bottom: 3%;
                    background-image: linear-gradient(to right, #EE6D98, #8A5EBF);
                    border: none;

                }

                .card:hover span {
                    color: white;
                }

                span {
                    margin: 2%;
                    color: purple;
                    font-family: 'Poppins', sans-serif;
                }

                i {
                    margin-right: 15px;
                }



                h1 {
                    font-family: 'Comic Sans MS', 'Comic Sans', cursive;
                }

                .heading {
                    text-align: center;
                    margin: 10px;
                    padding: 10px;
                    color: purple;
                }

                .info {
                    text-align: center;
                    font-size: 20px;

                }

                .info-items {
                    margin-left: 14px;
                    margin-right: 14px;
                }

                .btn {
                    /* margin-left: 10px;
                            margin-right: 10px; */
                    margin: auto;
                    margin-top: 2%;

                }

                .btns {
                    display: flex;
                    justify-content: space-around;
                }


                .request {
                    padding: 2%;
                    margin-left: auto;
                    margin-right: auto;
                    border: dashed purple;
                    width: 70%;
                    border-radius: 10px;
                    margin-top: 10px;
                    margin-bottom: 10px;
                }

                .request:hover {
                    padding: 2%;
                    margin-left: auto;
                    margin-right: auto;
                    background-image: linear-gradient(to right, #EE6D98, #8A5EBF);
                    border: none;
                }

                .request:hover span {
                    color: white;
                }

                @media only screen and (max-width:766px) {
                    .card {
                        width: 80%;
                        font-size: 16px;
                    }
                }

                @media only screen and (min-width:767px) and (max-width:1069px) {
                    .card {
                        width: 70%;
                    }
                }
            </style>



            <div class="cont">
                <div class="card">
                    <span><i class="fa-solid fa-coins"></i>
                        <%= loan.amount %>
                    </span>
                    <span><i class="fa-solid fa-percent"></i>
                        <%= loan.interest %>%
                    </span>
                    <span><i class="fa-solid fa-calendar"></i>
                        <%= loan.timePeriod %>
                    </span>
                    <span><i class="fa-solid fa-user"></i>
                        <%= loan.owner.name %>
                    </span>
                    <span><i class="fa-solid fa-envelope"></i>
                        <%= loan.owner.email %>
                    </span>
                    <span><i class="fa-solid fa-hand-holding-hand"></i>
                        <%= loan. category %>
                    </span>
                </div>
            </div>

            <div class="heading">
                <h1>Requests for you !!</h1>
            </div>

            <div class="container">
                <% for(let c of loan.counters){ %>
                    <div class="request">
                        <div class="row">
                            <div class="col-lg-6 info">
                                <span><i class="fa-solid fa-user"></i>
                                    <%= c.owner.name %>
                                </span>
                                <br>
                                <span><i class="fa-solid fa-percent info-items"></i>
                                    <%= c.interest %>% <i class="fa-solid fa-calendar info-items"></i>
                                        <%= c.timePeriod %>years
                                </span>
                            </div>
                            <div class="col-lg-6">
                                <div class="btns">
                                    <a type="submit" class="btn btne"
                                        href="/loan/<%= loan.id %>/counter/<%= c.id %>/accept"
                                        style="background-color:rgb(107, 14, 194); color: white;"><i
                                            class="fa-solid fa-circle-check"></i>Accept</a>
                                    <a type="submit" class="btn btnd"
                                        href="/loan/<%= loan.id %>/counter/<%= c.id %>/reject"
                                        style="background-color:rgb(107, 14, 194); color: white;">
                                        <i class="fa-solid fa-circle-xmark"></i>Delete</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% } %>
            </div>

            <% } %>